Blog API

Signup, login and authentication, log out

Functionality - 
Default:
View blogs

When logged in: 
Post a blog
Edit your own blog
Comment on blogs



Models - 

BlogPost

UserBlogs

OtherBlogs


Questions: 
Was it compulsory to configure relationship in dbcontext?
Is it the model with many that is to be used to create the relationship in modelBuilder.Entity


